*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
}
body{
    background: greenyellow;
    background-image: url("https://hbomax-images.warnermediacdn.com/images/GVU2cggagzYNJjhsJATwo/tileburnedin?size=1280x720&partner=hbomaxcom&host=artist.api.cdn.hbo.com&w=1280");
    background-repeat: no-repeat;
    background-size: cover;
    display: relative;
}
.game{
    width: 640px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-bottom: 20px;
    margin-left: 600px;
    padding: 7px;
    background:bisque;
    background: rgba( 9, 7, 7, 0.35 );
/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
/*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}
.card{
    width: 25%;
    height: 29%;
    margin: 4px;
    margin:auto;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.remove{
    width: 22%;
    height: 28.333%;
    margin: 4px;
    margin:auto;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

    

}
.card:hover{
    cursor: grab;
}
.card:active{
    transform: scale(0.90);
    transition: transform .4s;
}
.card.yash{
    transform: rotateY(180deg);
}
.front-side
,.back-side{
    width: 100%;
    height: 100%;
    padding:5px;
    border-radius: 4px;
    position: absolute;
    border: 2px solid black;
    background-color: blue;
    backface-visibility: hidden;
    
}
.front-side{
    transform: rotateY(180deg);
}
  #show{
    position: absolute;
    margin-left: 60px;
    margin-top: 80px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    padding-top:6px;
    background-color: solid black;
    font-size: 70px;
    color: white;
  }
  #show1{
    color: white;
    border: 2px solid black;
    position: absolute;
    margin-left: 60px;
    margin-top: 150px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    padding-top: 6px;
    font-size: 70px;
  }
  
  #show:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    font-style: italic;
    font-size: 16px;
  }
  #show1:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    font-style: italic;
    font-size: 18px;
  }